# Eclipse
.project
.classpath
.settings
.checkstyle

# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes

# Gradle
.gradle
build
gradlew
gradlew.bat

# Ant
bin
gen
build.xml
ant.properties
local.properties
proguard.cfg
proguard-project.txt

# Other
.DS_Store
tmp
*.apk
*.ap_
*.dex
*.class
*.swp
